#projects{
    color: $gray-light!important;
    min-height: 100%;
    width: 100%;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 1rem; 
    background-color: $gray-dark;
    background-image: url("./../../assets/images/abstracttt.png");

    .container-fluid {
        padding: 1rem;
        margin: 0px!important;
        margin-top: 1.5rem!important;
  
        .section-header {
          color: $purple-light!important; 
          text-decoration: underline;
          -webkit-text-decoration-color: $purple-dark;
                  text-decoration-color: $purple-dark;
          text-decoration-thickness: 0.2rem;
          padding-bottom: 1.75rem;
        }

        .filters{

          ul{
            margin-bottom: 0px!important;
          }

          .filter {
            margin: 0 auto;
            
  
            a {
              margin: 2rem;
              cursor: pointer;
              padding: 0rem!important;
            }
  
            .nav-item {
              font-family: $body-font;
              text-transform: uppercase;
              font-weight: 600;
              font-size: 0.8rem;
              color: $gray-light;
            }
  
            .active {
              color: $purple-light;
            }
          }
        }


        #projects-container{
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: auto;

          .flex-col{
            margin: 1rem;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            .projects-item{
              /* video{
                max-width: 30%;
                margin-top: 1rem;
              } */
              margin-top: 1rem;

              iframe{
                width: 40vw;
                height: auto;
                min-height: 40vh;
              }
            }
  
            .project-description{
              max-width: 60%;
              display: block;
              background-color: #232323;
              padding: 1rem;
              border-radius: 20px;
              margin-top: 0rem;

              h2{
                font-size: 1.6rem;
                color: $purple-light;
              }
  
              p{
                font-size: 1rem;
                text-align: justify;
                color: $gray-light;
              }
            }
          }
        }
    }
}


@media only screen and (max-width: 990px){
  #projects{
    background-image: url("./../../assets/images/abstract-responsive.png");
    background-position: center center;

    .container-fluid {
      padding: 0rem;
      margin: 0px!important;
      margin-top: 1.5rem !important;

      .section-header {
        padding-bottom: 0rem;
        margin-bottom: 1.75rem;
      }
      
      .filters{
        
        .filter {

          a {
            margin: 1rem;
          }
        }
      }

      #projects-container{

        .flex-col{

          .projects-item{
              
            /* video{
              max-width: 95%!important;
            } */

            iframe{
              width: 75vw;
              height: auto;
              min-height: 20vh;
            }
          }         
          
          .project-description{
            max-width: 95%;

            h2{
              font-size: $font-size-lg;
            }

            p{
              font-size: $font-size-md;
            }
          }
        }
      }

    }
  }
}