header{

    li.home-icon{
        margin-left: 57vw;
    }

    .home-icon{
        /* &:hover{
            background-color: transparent!important;
        } */

        /* .bx--text-truncate--end{
            margin-left: 58vw;
        } */

        /* display: flex; */
        
    }


    
}